/*Defaults*/
body{
  background-color:#fff;
  color:#1b223b;
  font-family:sans-serif;
  margin:0px;
  padding:0px;
  text-align:center;
}

header{
  background-color:rgba(238, 213, 117, 1.0);
  box-shadow: rgba(27, 34, 59, 0.80) 0px 5px 5px;
  height:3em;
  line-height:3em;
  position:absolute;
  top:0;
  width:100%;
}
p{
  font-size: 1.2em;
}
a{
  font-size: 1.5em;
  font-weight: 700;
  margin-top:1em;
  text-decoration: none;
}

/*Classes*/
.headerTab{
  display:inline-block;
  font-size: 1em;
  margin-top:0px;
  margin-bottom:0px;
  padding-left:1%;
  padding-right:1%;

  transition: font-size 0.4s;
}
.headerTab h2{
  margin-top:0px;
  margin-bottom:0px;
  padding:0px;
}
.headerTab:hover{
  font-size: 1.2em;
}

.content{
  margin:auto;
  margin-top:1em;
  max-width:90em;
  padding-bottom:20em;
}
.content h1{
  font-size:5em;
  font-weight: 100;
  margin:0;
  margin-top:0.5em;
}
.content h2{
  margin:0.5em;
  font-size:4em;
  font-weight: 100;
}
.content h3{
  font-size:4em;
  font-weight: 100;
}

.content img{
  box-shadow: rgba(27, 34, 59, 0.80) 0px 0px 20px;
  max-width:100%;
  margin:2em;
}

.coverImage{
}
.coverImage img{
  border-radius: 150px;
}

.project
{
  padding:2em;
}
.project img{
  max-height:20em;
  max-width:45%;
  margin:0;
  padding:0;
}

#projectTags{
  min-height:10em;
}
#projectTags ul{
  text-align:center;
  text-decoration:none;
  font-size:1.5em;
  margin:0em;
  padding:0em;
}
#projectTags li{
  background-color:rgba(27, 34, 59, 1);
  color:#fff;
  cursor:pointer;
  display:inline-block;
  width:8em;
  margin: 0.5em 2em 0.5em 2em;
  padding:1em;
  vertical-align:middle;
}
#projectTags li:hover{
  box-shadow: rgba(27, 34, 59, 0.80) 0px 0px 10px;
}
#projectTags li:active{
  box-shadow: rgba(246, 213, 15, 0.80) 0px 0px 20px;
}

#backToTop{
  padding:0.5em;
  position:fixed;
  background-color:#1b223b;
  color:#fff;
  width:100%;
  top:-3em;
  left:0em;
  transition: top 0.5s;
  cursor:pointer;
}