/*Defaults*/
body{
  background-color:#fff5d6;
  color:#1b223b;
  font-family:serif;
  margin:0px;
  padding:0px;
  text-align:center;
}

header{
  background-color:rgba(238, 213, 117, 1.0);
  box-shadow: rgba(200, 180, 100, 0.70) 0px 5px 5px;
  height:3em;
  line-height:3em;
  position:absolute;
  top:0;
  width:100%;
}
footer{
  padding-bottom:1em;
  margin-top:3em;
}
p{
  font-size: 1.2em;
}
a{
  font-size: 1.5em;
  font-weight: 700;
  margin-top:1em;
  text-decoration: none;
}

/*Classes*/
.headerTab{
  display:inline-block;
  font-size: 1em;
  margin-top:0px;
  margin-bottom:0px;
  padding-left:1%;
  padding-right:1%;

  transition: font-size 0.4s;
}
.headerTab h2{
  margin-top:0px;
  margin-bottom:0px;
  padding:0px;
}
.headerTab:hover{
  font-size: 1.2em;
}

.content{
  margin:auto;
  margin-top:1em;
  width:80em;
  max-width:75%;
}
.content h1{
  font-size:6em;
  font-weight: 100;
  margin:0;
  margin-top:0.5em;
}
.content h2{
  margin:0;
  margin-top:0.5em;
  font-size:6em;
  font-weight: 100;
}
.content h3{
  font-size:3em;
  font-weight: 100;
}

.content img{
  box-shadow: rgba(200, 180, 100, 0.90) 0px 0px 20px;
  max-width:100%;
  margin:3em;
}

.coverImage{
}
.coverImage img{
  border-radius: 150px;
}

.project
{
  padding:2em;
}
.project img{
  display:inline;
  max-width:45%;
  margin:0;
  padding:0;
}