/*Defaults*/
body{
  background-color:#fff5d6;
  /*background-image*/
  font-family:sans-serif;
  margin:0px;
  padding:0px;
  text-align:center;
}

header{
  background-color:rgba(238, 213, 117, 1.0);
  box-shadow: rgba(200, 180, 100, 0.70) 0px 5px 5px;
  color:#000;
  height:3em;
  line-height:3em;
  position:absolute;
  top:0;
  width:100%;
}
footer{
  margin-top:3em;
}
h1{

}

/*Classes*/
.headerTab{
  display:inline-block;
  font-size: 1em;
  margin-top:0px;
  margin-bottom:0px;
  padding-left:1%;
  padding-right:1%;

  transition: font-size 0.4s;
}
.headerTab h2{
  margin-top:0px;
  margin-bottom:0px;
  padding:0px;
}
.headerTab:hover{
  font-size: 1.2em;
}

.content{
  margin:auto;
  margin-top:10em;
  width:80em;
  max-width:75%;
}
.content h2{
  margin-top:1em;
  font-size:6em;
}
.content h3{
  font-size:3em;
}
.content img{
  box-shadow: rgba(200, 180, 100, 0.90) 0px 0px 20px;
  max-width:100%;
}

.coverImage{
}
.coverImage img{
  border-radius: 150px;
}

.project
{

}
.project a{
  margin-top:1em;
}
.project img{
  display:inline;
  max-width:45%;
}
.project:nth-child(1)
{
  background-color:rgb(238, 180, 117);
}
.project:nth-child(2)
{
  background-color:rgb(238, 122, 96);
}